---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date |  date: "%-d %B %Y"  }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        {{ post.excerpt }}
      </li>
    {% endfor %}
  </ul>

  {% if paginator.next_page_path %}
  <p><a class="next post-meta" href="{{ paginator.next_page_path }}">Next page</a> of posts</p>
  {% endif %}
  
  <p>Browse all the posts in the <a href="/archive">archive</a>.</p>

  <p class="rss-subscribe">Subscribe <a href="{{ "/rss.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
